*{
    box-sizing: border-box;
}
#price_list{
    max-width: 1400px;
    background-color: #faebd78a;
    margin-bottom: 5%;
}
.price_card{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    gap: 30px;
    padding: 16px;
}
.one, .two, .three{
   background-color: #f9fafbd5;
   padding: 8px;
   border-radius: 12px;
   box-shadow: 0px 0px 6px #00000014;
   font-family: sans-serif;
   transition: transform 0.4s ease;
}
.one:hover, .two:hover, .three:hover{
  transform: scaleY(1.1);
}
.two{
 transform: scaleY(1.1);   
}
.two{
    background-color: #1f2937;
    color: #ffffff;
    box-shadow: 0px 20px 40px #0000001f;
}
 h3{
    font-size: 26px;
}
button{
    padding:14px 40px;
    border-radius: 6px;
    background-color: #0ce00ce1;
    color: #0f0808;
    border: none;
    outline: none;
    font-size: 18px;
    transition: all 0.3s ease;
    box-shadow: 0px 9px 2px #3a2222e3;
}
button:hover{
    transform: translateY(4px);
    box-shadow: 0px 5px 2px #3a2222e3;
}
button:active{
    color: #ffffff;
    background-color: dodgerblue;
}


.popular{
    display: inline-block;
    
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    background-color: #0bdd0b;
    transform: rotate(-45deg);
    margin-top: 10px;
    margin-left: -5px;
}
.popular2{
    display: inline-block;
    
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    background-color: #0bdd0b;
    transform: rotate(-45deg);
    margin-top: -28px;
    margin-left: -5px;
}
.high{
    display: block;
    background-color: #048004;
    color: #f9fafb;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
}
small{
    padding-left: 16px;
}
span{
    font-size: 26px;
}


/* Media Query */

@media (max-width: 768px) and (min-width: 368px){
   #price_list{
    max-width: 100%;
   }
   .price_card{
    grid-template-columns: repeat(1, 1fr) ; 
   }
   button{
    width: 100%;
    transform: translateY(-5px);
   }
   button:active{
    transform: translateY(4px);
    box-shadow: 0px 5px 2px #3a2222e3;
    }
    .one:hover, .two:hover, .three:hover{
  transform:none;
}
.two{
 transform: none;   
}
}
